<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <main>
        <div>
            <span>[</span><span>MAIN PAGE</span><span>]</span>
        </div>
        <img src="img/main1(1000).jpg" alt="mainpage" usemap="#sub">

        <!--<img id="클릭" src="img/클릭미2(150).jpg" alt="클릭미">-->

        <map name="sub">
            <area shape="rect" coords="135,671,861,932" alt="Work" href="blackup_sub.html">
        </map>

    </main>

    <aside></aside>
</body>
</html>